html,body{
    height:100%;
    margin:0;
}
@font-face {
  font-family: upheaval;/* https://www.dafont.com/upheaval.font */
  src: url(assets/upheavtt.ttf);
}
body{
    /*background-color: black;*/
    background-color: darkblue;
    font-family:upheaval;
    overflow:hidden;
}

#field{
    position:relative;
    top:20px;
    left: 40%;
    width:400px;
    height:400px;
    border:2px solid white;
    /*background-color: darkblue;*/
    background-color: #CCC;
}
.block{
    position:absolute;
    width:30px;
    height:30px;
    border:1px solid rgba(0,0,0,.3);
}

#score,#hiscore{
    top:0px;
    font-size:60px;
    position:absolute;
    left:20%;
    color:white;
    z-index:9999;
}

#hiscore{
    left:80%;
}