body{
    background-color: black;
    color:white;
    overflow: hidden;
    margin:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    background-color: navy;
    margin:0px;
    width:900px;
    height:600px;
    overflow: hidden;
}

#planet1{
    transform: rotate(10deg);
}