html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

@font-face {
    font-family: zx;
    src: url("zx_spectrum-7.ttf");
}

#display {
    cursor: default;
    background: lightgrey;
    image-rendering: pixelated;
}

#export{
    padding: 10px; 
    background-color: rgba(0,0,0,.2);
    font-family: 'zx', Courier, monospace;
    font-size: 20px;
}

#legend{
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(0,0,0,.2);
    font-family: 'zx', Courier, monospace;
    font-size: 32px;
    display: none;
}