body{
    background-color:#EEE;
    font-family:sans-serif;
    font-size:20px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding:10px;
}
#dice1,#dice2,#dice3,#dice4,#dice5,#dice6{
    position:fixed;
    left:400px;
    top:100px;
    display:none;
}
.button{
    margin:100px;
    font-size:20px;
    background-color:lightgreen;
    padding:10px;
    border:2px solid green;
    border-radius:8px;
    cursor:pointer;
}