html,body{
    height:100%;
    margin:0;
}
@font-face {
  font-family: grobold;/* https://www.dafont.com/grobold.font */
  src: url(assets/GROBOLD.ttf);
}
#bird,#cloud,#pipe_top,#pipe_bottom{
    position:fixed;
}
body{
    background-color:#9DD;
    font-family:grobold;
    overflow:hidden;
}
#score,#hiscore{
    font-size:60px;
    position:absolute;
    left:30%;
    color:white;
    z-index:9999;
    text-shadow: -2px -2px 0 #222, 2px -2px 0 #222, -2px 2px 0 #222, 2px 2px 0 #222;
}
#hiscore{
    left:60%;
}