html,
body {
    height: 100%;
}

body {
    margin: 0px;
    overflow: hidden;
}

@font-face {
    font-family: mono_bold;
    src: url(fonts/Mono\ Bold.ttf);
}

@font-face {
    font-family: noveau;
    src: url(fonts/Nouveau_IBM.ttf);
}

@font-face {
    font-family: flexi;
    src: url(fonts/Flexi_IBM_VGA_False.ttf);
}